<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/admin/admin.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="../images/icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  </head>

  <body>
    <main>
      <div id="header">
        <header>
          <h1>Freshly Baked</h1>
        </header>
        <hr style="width: 100%" color="#2a7c6f" size="2px" />
      </div>

      <h1>Order Approval Dashboard</h1>
      <div class="order-container">
        <h1>All Orders</h1>
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Cart ID</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="order : ${orders}">
              <td th:text="${order.id}"></td>
              <td th:text="${order.cart.id}"></td>
              <td th:text="${order.status}"></td>
              <td>
                <form action="/order/approve" method="post">
                  <input type="hidden" name="id" th:value="${order.id}" />
                  <button type="submit" id="approve-btn">Approve Order</button>
                </form>
                <form action="/order/reject" method="post">
                  <input type="hidden" name="id" th:value="${order.id}" />
                  <button type="submit" id="reject-btn">Reject Order</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <script src="admin/admin.js"></script>

    </main>
  </body>

</html>
