<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/shop/shop.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="../images/icon.png" />
    <title th:text="${title}">Shop</title>
  </head>

  <body>
    <main>
      <div id="header">
        <header>
          <h1>Freshly Baked</h1>
        </header>
        <hr style="width:100%" color="#2a7c6f" size="1px">
        <div class="dropdown">
          <button class="dropbtn">
            <img src="../images/menuicon.png" alt="" />
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/shop}">Shop</a>
            <a th:href="@{/cart}">Cart</a>
            <a th:href="@{/contact}">Contact</a>
            <a th:href="@{/team}">Meet The Team</a>
          </div>
        </div>

        <nav>
          <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/shop}">Shop</a></li>
            <li><a th:href="@{/cart}">Cart</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/team}">Meet The Team</a></li>
            <li><a th:href="@{/login}">Login</a></li>
          </ul>
        </nav>
      </div>

      <div id="box">
        <h2>Grand Opening</h2>
        <div id="large">
          <h1>Get 10% Off</h1>
        </div>
        <div>
          <button id="button1"><a th:href="@{/cart}">Order Now</a></button>
        </div>
      </div>

      <div id="gallery">
        <th:block th:each="product : ${products}">
          <div style="cursor: pointer" class="item5" onclick="addToCart('${product.id}')">
            <img th:src="${product.prodImg}" width="300" height="300" alt="Cookies">
            <figcaption th:utext="${product.prodName + ' <br/>$' + product.prodPrice}">
              Chocolate Chips Cookie<br>$4.00
            </figcaption>
          </div>
        </th:block>
      </div>



    </main>
    <script src="shop/shop.js"></script>
  </body>
  <hr style="width:100%" color="#2a7c6f" size="2px">
  <footer>
    <p>
      Freshly Baked, Kilometer 6, 278H Street 201R Kroalkor Village, Sangkat,
      Unnamed Road, Phnom Penh.
    </p>
    <p>&copy; 2022 Freshly Baked. All rights reserved.</p>
  </footer>

</html>
